/*nav*/ 
#header{
  font-size: 24px;
  text-align: center;
}
nav {
  background-color: #232f3e;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  white-space: nowrap;
}

li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
  transition: color 0.3s ease-in-out;
  display: inline-block; 
  white-space: nowrap; 
}


nav a:hover {
  color: #fdb813;
}

nav ul {
  display: flex;
  list-style: none;
  width: auto;
  height: 30px;
  margin: auto;
  margin-right: 25px;
}

nav li {
  margin: 0 10px;
}

nav a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fdb813;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}


nav a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}


body {
    background-color:#ffffff; 
  }
  #contactinfo{
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    padding: 10px;
    border: 1px solid transparent;
    border-bottom: 1.5px dashed transparent;
    background-color:transparent;
    border-radius: 5px;
    text-align: center;
  }
  #SoftwaresupportDesk,
  #location{
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    padding: 10px;
    border: 1px solid transparent;
    border-bottom: 1.5px dashed transparent;
    background-color:transparent;
    border-radius: 5px;
    text-align: center;
  }
  #header1{
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #232f3e;
    margin-bottom: 20px;
    text-align: center;
  }